html {
  height: 100%;
  scrollbar-gutter: stable;
}

body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background: #f6f6f6;
  color: #333;
  height: 100%;
}

.container {
  max-width: 1040px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  min-height: 100vh;
  box-sizing: border-box;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  overflow: hidden;
}

nav a {
  text-decoration: none;
  color: #2a4d38;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Hide the menu toggle on desktop */
#menuToggle {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: #2a4d38;
  padding: 10px;
  cursor: pointer;
}

.portrait-quote {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 5%;
  padding: 20px;
  gap: 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.portrait-quote>div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.portrait-quote>div>img {
  align-self: flex-end;
  height: 200px;
  width: 200px;
}

.tab-img {
  align-self: center;
  padding: 30px;
}


header {
  padding: 0 10px;
  background: #dbe7dd;
  margin: -20px -20px 20px -20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

header>* {
  margin: 5px;
}

main {
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

h3::before {
  content: '🌿';
}

h3+ul {
  margin-top: 0;
}

.fc-col-header-cell-cushion {
  text-transform: capitalize;
}

footer {
  margin: 0 -20px -20px -20px;
  position: relative;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 8px;
  align-items: flex-end;
  height: 180px;
}

footer::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url('img/footer.jpeg');
  background-size: cover;
  opacity: 0.7; /* Adjust transparency here */
}

footer > * {
  color: white;
  z-index: 1;
}

.image-circle-fade {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;

  /* Fadeout effect using mask */
  -webkit-mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);
  mask-image: radial-gradient(circle, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 100%);

  -webkit-mask-size: cover;
  mask-size: cover;
}

h4 {
  padding-top: 40px;
}


/* On small screens, make it full width */
@media (max-width: 1040px) {
  .container {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
  }

  header {
    flex-direction: column;
    
  }

  main {
    padding: 20px 0;
  }

  /* Calendar on small screen */
  .fc-header-toolbar {
    display: flex;
    flex-wrap: wrap;
  }

  .fc-toolbar-chunk {
    min-width: 100px;
  }

  .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    order: -1;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 0.5em;
  }

  #menuToggle {
    display: block;
  }

  nav {
    flex-direction: column;
    align-items: center;
    display: none;
  }

  nav.show {
    display: flex;
  }

  nav a {
    padding: 10px 0;
  }

  .portrait-quote {
    margin: 30px -20px;
    border-radius: 0;

  }

  .portrait-quote>div>img {
    align-self: flex-end;
  }

  .image-circle-fade {
    width: 80px;
    height: 80px;
  }


}